.bdRadioGroup {
  position:absolute;
  background-color:inherit;
}

.bdRadioChoice {
  position:absolute;
  background-color:inherit;
}

.bdRadioChoice.Focused {
  outline:1px dotted black;
  background-color:#FCFCD2;
}

.bdRadioChoice > div {
  outline:0;
}
