.tundra .bdDijitStaticText {
  position:absolute;
  background-color:inherit;
}

.tundra .bdDijitStaticTextText {
  position:absolute;
  background-color:inherit;
}

.tundra .bdMessagebox {
  margin-bottom:1em;
}
